
.experience{
    float: left;
    background-color: darkcyan;
    width: 50%; 
    height: 1000px;
   
}
.divdroite{
    float: left;
    text-align: right;
    height: 1000px;
    width: 50%;
}

.box .box1 {
    background: green;
    text-align: justify;
    width: 50%;
    padding: 15px;
}

.box .box2 {
    text-align: right;
    width: 50%;
    text-align: right;
    padding: 15px;
}

.box{
    display: flex;
    flex-direction: row;
    padding-bottom: 50px; 
    height: 150px;   
}

#skills{
    margin-right: 100px;
}

#liste{
    margin-left: 600px;
    text-align: left;

}